---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
import bgHome from '../assets/BG.png'

const items = [
	{
		title: 'Servicios',
		url: ''
	},
	{
		title: 'Trabajo',
		url: ''
	},
	{
		title: 'Nosotros',
		url: ''
	},
	{
		title: 'Contactanos',
		url: ''
	},
];

const title = "Mantis - servicios web de alta calidad"

---

<Layout title={title}>
	<main>
		<Navbar items={items}/>
		<div style={{ background: `url(${bgHome.src})` }} class="bg-home-image">
			<div class="relative flex justify-center items-center h-full">
				<img class="absolute w-[50%] 2xl:w-[35%]" src="./ISOLOGO-bg.png" alt="">
				<img class="absolute w-[75%] 2xl:w-[55%]" src="./MANTIS-bg.png" alt="">
			</div>
		</div>
	</main>
</Layout>

<style>
	.bg-home-image{
		height: 94vh;
		width: 100%;
	}
</style>
