---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Mantis una agencia de servicios web de alta calidad" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<script type="text/javascript" src="//use.typekit.net/ysa1ltb.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--main-green: #56d07d;
	}

	@font-face {
		/* font-family: CronusRound; */
		font-family: "aktiv-grotesk-std",sans-serif;
		src: 
			url('cronus-round.woff2') format('woff2'),
      url('cronus-round.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}
</style>
